input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 10px 15px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-text,
.form-text,
.form-textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background: transparent url(../images/throbber.gif) right 7px no-repeat;
}
html.js input.throbbing {
  background-position: right -60px; /* LTR */
}

#autocomplete ul li {
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #fff;
}

#edit-submit {
  background: #0066cc;
  color: #fff;
}

#edit-preview {

}

.select2-container {
  width: auto !important;
  min-width: 100px;
}

/* table drag */
a.tabledrag-handle .handle {
  height: 20px;
  margin: 0;
  padding: 0;
  width: 13px;
}

a.tabledrag-handle .handle {
  height: 20px;
  margin: 0;
  padding: 0;
  width: 13px;
  background-position: 0px 3px;
}

.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  height: auto;
  margin-left: 0;
  overflow: hidden;
  text-decoration: none;
}