* {
  box-sizing: border-box;
}

@media all and (min-width: 800px) {

  .ds-main {
    width: 70%;
    float: left;
  }

  .ds-metadata {
    width: 28%;
    float: right;
  }

}

.summary {
  display: none;
}