/**
 * @file
 * Styling for the ds_2col template.
 */

@media all and (min-width: 600px) {

  .adminimal-theme #page,
  .adminimal-theme ul.secondary {
    padding: 0;
    margin: 0;
  }

  .adminimal-theme .vertical-tabs,
  .adminimal-theme .form-actions{
    margin: 20px;
  }

  .ds-2col * {
    box-sizing: border-box;
  }

  .ds-2col .form-text,
  .ds-2col .form-text,
  .ds-2col .form-textarea {
    width: 100%;
  }

  .ds-2col > .group-left {
/*    float: right;  LTR */
float: left;
    width: 58%;
    padding: 20px;
    height: 100%;
  }


  .ds-2col > .group-right {
    /*float: left;  LTR */
    float: right;
    width: 40%;
    background: #f5f5f5;
    padding: 20px 20px 20px 20px;
    height: 100%;
    min-height: 1000px;
  }

  .ds-2col > .group-right .form-item label {
    display: block;
    padding: 0;
    margin: 0 0 10px 0;
  }

  .ds-2col > .group-right .form-wrapper {
    margin-bottom: 20px;
  }

  .ds-2col > .group-right .form-wrapper:last-child {
    margin-bottom: 0;
  }

  .ds-2col > .group-right .form-item {
    margin: 0;
    padding: 0;
  }

  .ds-2col > .group-right .form-managed-file  input.form-file {
    width: 100%;
    margin-left: 0;
  }

  .ds-2col > .group-right .form-managed-file  input.form-submit {
    margin-left: 0;
  }
}

@media all and (min-width: 800px) {
  .ds-2col > .group-left {
    width: 68%;
  }


  .ds-2col > .group-right {
    width: 30%;
  }
}

@media all and (min-width: 1000px) {
  .ds-2col > .group-left {
    width: 73%;
  }


  .ds-2col > .group-right {
    width: 25%;
  }

}